

body{
    background-color:#F8F8F8;
}

.outer{
    width: 100%;
    height: 650px;
    background-color: grey;
    position: relative;
    box-shadow: 4px 5px 6px;
    background: url(./images/7c52c44b7633183566eb07778ac554bd.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#iii{
    mix-blend-mode: color-burn;
    position: relative;
    left: 160px;
    top: 20px;
}
.de{
    width: 100%;
    height: 60px;
}
.de i{
    margin: 30px;
    justify-content: center;
    text-decoration: none;
}

.class{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.class input{
     width: 600px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 60px;
     padding: 20px;
     border-radius: 60px;
     border: 3px solid black;
     background: transparent;
     position: sticky;
     top: 0px;
 
}
.container{
    width: 100%;
    height: 350px;
    background-color: #F8F8F8;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
  
}
.vvv{
padding: 40px;
display: flex;
justify-content: center;
font-family: 'Itim', cursive;
color: black;
font-size: 200%;
}
.box{
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 4px 5px 6px;
    transition: 2s;
}
.box:hover{
    transform: scale(1.2);
    z-index: 2;
}
#b1{
    width: 100px;
     padding: 15px;
     border-radius: 30px;
     border: 3px solid black;
     background: transparent;
     color: black;
     background-color: white; 
     font-family: 'Itim', cursive;
     font-size: 19px;
}

#b1:hover{
   color: white;
   background-color: black;
}



::placeholder{
    color: black;
    font-weight: bold;
}

.a1{
    position: absolute;
    left: 610px;
    top: 280px;
    padding-top: 10px;
    font-family: 'Itim', cursive;
    font-size: 300%;
    color: black;
    text-shadow: 4px 6px 8px;
    animation: animate 5s linear infinite;
}

#a1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 6px;
    background-color: black;
    transition: 0.4s ease-in;
}
#a1:hover::after{
    left: 0;
    width: 100%;
}

#a2{
    /* position: absolute; */
    padding-top: 80px;
    padding-left: 10px;
    font-family: 'Itim', cursive;
    font-size: 130%;
    color: rgba(0, 0, 0, 0.641);
}
#a3{
    
    position: absolute;
    left: 350px;
    padding-top: 20px;
    padding-left: 50px;
    font-family: 'Itim', cursive;
    font-size: 130%;
    color: rgba(0, 0, 0, 0.699);
}
.e1{
    color: black;
    font-family: 'Signika Negative', sans-serif;
    text-decoration: none;
}

.e1:hover{
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.row{
    width: 100%;
    height: 600px;
    background-color: 	#F8F8F8;
    border: 2px solid white;
    margin-top: 3px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 6px 7px 8px;
}

.col1{
    width: 250px;
    height: 450px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 10px 20px 20px;
    transition: 2s;
}

.col2{
    width: 250px;
    height: 450px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 10px 20px 20px;
    transition: 2s;
}
.col3{
    width: 250px;
    height: 450px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 10px 20px 20px;
    transition: 2s;
}
.col4{
    width: 250px;
    height: 450px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 10px 20px 20px;
    transition: 2s;
}
.col5{
    width: 250px;
    height: 450px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid black;
}
.col6{
    width: 250px;
    height: 450px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid black;
}
 .col1:hover{ 
    box-shadow: 6px 7px 8px;
 }
 .col2:hover{
    box-shadow: 6px 7px 8px;
 }
 .col3:hover{
    box-shadow: 6px 7px 8px;
 }
 .col4:hover{
    box-shadow: 6px 7px 8px;
 }

 .col1 img:hover{
         transform: scale(0.8);
         z-index: 2;
 }
 .col2 img:hover{
    transform: scale(0.8);
    z-index: 2;
}
.col3 img:hover{
    transform: scale(0.8);
    z-index: 2;
}
.col4 img:hover{
    transform: scale(0.8);
    z-index: 2;
}
.vv{
    padding: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Itim', cursive;
    color: black;
    font-size: 200%;
}

.col1 img{
    width: 160px;
    margin-left: 45px;
     margin-top: 15px ;
    border-radius: 10%;
    border: 3px solid black;
}


.col2 img{
    width: 160px;
    margin-left: 45px;
     margin-top: 10px ;
    border-radius: 10%;
    border: 3px solid black;
}

.col3 img{
    width: 160px;
    margin-left: 45px;
     margin-top: 10px ;
    border-radius: 10%;
    border: 3px solid black;
}


.col4 img{
    width: 160px;
    margin-left: 45px;
     margin-top: 5px ;
    border-radius: 10%;
    border: 3px solid black;
}


.ss{
    margin-right: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
}



h2{
    text-align: center;
    font-family: 'Itim', cursive;
    color: #708090;
    font-size: larger;
}
p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
button{
    color: white;
    background-color: #708090;
    border-radius: 30px;
    padding: 10px;
    border: 3px solid black;
    font-weight: 600;
}
button:hover{
    background-color: white;
    color: black;
    font-weight: 600;
}
.center{
    margin: 80px;
    margin-top: 90px;
    padding: 30px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 7px 10px;
    border: 3px solid black;
}
.center h1{
     padding: 0 0 20px 0;
     border-bottom: 1px solid silver;
     font-family: 'Signika Negative', sans-serif;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}



form .txt_field{
     position: relative;
     border-bottom: 2px solid #adadad;   
     margin: 30px 0;
}
.txt_field input{
     width: 100%;
     padding: 0 5px;
     height: 40px;
     font-size: 16px;
     border: none;
     background: none;
     outline: none;
}
.txt_field label{
    position: absolute;
    top: 50px;
    left: 5px;
    color: black;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    pointer-events: none;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
}
.f1{
    color: white;
    background-color: #778899;
    padding: 10px;
    font-size: medium;
    border-radius: 10px;
}

footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

footer .social,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
}

footer .social li,
footer .menu {
    list-style: none;
}

footer .social li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social li a:hover{
    transform: translateY(-10px);
}


footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}

footer .menu li a:hover{
    opacity: 1;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(./images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10 px;
    animation: animateWave_02 4s linear infinite;
}


footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20 px;
    animation: animateWave_02 4s linear infinite;
}


@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}



  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }
  
  @media (max-width: 600px){
   center{
      position: relative;
      top: 1400px;
   }
  }

  @media (max-width: 600px){
    .s1{
       position: relative;
       bottom: 1400px;
    }
   }
 
 

   @media (max-width: 600px){
    .de a{
       position: relative;
       bottom: 1400px;
       width: 100%;
    }
   }
 
/*  
    @media (max-width: 600px){
    .de i {
      position: relative;
      bottom: 1400px;
    }
   }   */

   @media (max-width: 600px){
    .outer h1{
      position: absolute;
   }
  }

@media only screen and (max-width: 620px) {
    #a3{
        display: none;
    }
    .vv{
        position: relative;
        top: 700px;
    }
    .row{
        position: relative;
        top: 750px;
    }
    .center{
        position: relative;
        top: 750px;
    }
    footer{
        position: relative;
        top: 2200px;
    }
}
@media only screen and (max-width:600px) {
    .a1{
       position: relative;
       left: 80px;
    }
}